<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>Launch</title>
</head>
<body>
    <h1>Demo using LaunchKey API</h1>

    {% if username %}
        <form name="logout" action="/launch/logout" method="post">
        {% csrf_token %}
        <table width="50%">
            <tr>
                <td>Username</td><td>{{ username }}</td>
            </tr>
            <tr>
                <td>Auth_Request</td><td>{{ auth_request }}</td>
            </tr>
            <tr>
                <td>Auth</td><td>{{ auth }}</td>
            </tr>
            <tr>
                <td>User_Hash</td><td>{{ user_hash }}</td>
            </tr>
            <tr>
                <td>Device_ID</td><td>{{ device_id }}</td>
            </tr>
            <tr>
                <td>App_Pins</td><td>{{ app_pins }}</td>
            </tr>
            <tr>
                <td>Poll_Request_Status</td><td>{{ poll_request_status }}</td>
            </tr>
        </table>

        <input type="submit" value="Logout">
        </form>
    {% else %}
        <form name="login" action="/launch/login" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"><br />
        <input type="submit" value="Login">
        </form>
    {% endif %}
    <hr />
    <p>Thanks for visiting my site.</p>
</body>
</html>
