<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Launch</title>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>Demo LaunchKey API <small>using Django</small></h2>

    {% if username %}
        <form role="form" name="logout" action="/launch/logout" method="post">
        {% csrf_token %}
        <div class="form-group">
        <table class="table table-striped">
            <tr>
                <td>Username</td><td>{{ username }}</td>
            </tr>
            <tr>
                <td>Auth_Request</td><td>{{ auth_request }}</td>
            </tr>
            <tr>
                <td>Auth</td><td>{{ auth }}</td>
            </tr>
            <tr>
                <td>User_Hash</td><td>{{ user_hash }}</td>
            </tr>
            <tr>
                <td>Poll_Request_Status</td><td>{{ poll_request_status }}</td>
            </tr>
            <!--
            <tr>
                <td>Device_ID</td><td>{{ device_id }}</td>
            </tr>
            <tr>
                <td>App_Pins</td><td>{{ app_pins }}</td>
            </tr>
            -->
        </table>

        <!--
        <input type="submit" class="btn btn-lg btn-primary" value="Logout">
        -->
        </div>
        <button type="submit" class="btn btn-default">Logout</button>
        <button type="button" class="btn btn-default navbar-btn" onClick="window.location.reload()">Refresh</button>
        </form>
    {% else %}
        <form role="form" name="login" action="/launch/login" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username1">Username:</label>
            <input type="text" class="form-control" id="username1" name="username" placeholder="Username">
        </div>
        <!--
        <input type="submit" value="Login">
        -->
        <button type="submit" class="btn btn-default navbar-btn">Login</button>
        </form>
    {% endif %}
    <hr />
    <p>Thanks for visiting.</p>
</body>
</html>
